$basic-white: #ffffff;
$basic-yellow: #fbd784;
$basic-yellow-text-hamburger: #ffb711;
$basic-background-transparent: rgb(255, 254, 250);
$hamburger-border: 1px solid rgb(0 0 0 / 50%);
$hamburger-hover: #fff18bd7;
$basic-background: #0b1d26;
